// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-initial: #ffffff;
$color-primary: #24565B;
$color-secondary: #606c76;
$color-tertiary: #FFEDD8;
$color-quaternary: #999;

$dark-grey: #565656;
$light-grey: #f8f8f8;
$medium-grey: #555555;
$black: #18181C;
$dark-black: #000000;
// $black: #38383F;
